# ===== Maven =====
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# ===== Compiled =====
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# ===== Spring Boot =====
*.original

# ===== Logs =====
*.log
logs/
boot_err.txt
boot_out.txt

# ===== Env / Config =====
.env
application-local.yml
application-local.properties

# ===== IDE - IntelliJ IDEA =====
.idea/
*.iml
*.iws
*.ipr

# ===== IDE - Eclipse =====
.classpath
.project
.settings/
.factorypath
bin/

# ===== IDE - VS Code =====
.vscode/
.history/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Package files =====
hs_err_pid*
replay_pid*
